/* PwN-Chain/main.css */

#app-grid {
    layout: grid;
    grid-size: 2 3;
    grid-gutter: 1;
    grid-rows: 2fr 1fr 1fr;
}

#disassembly-view {
    column-span: 2;
    border: heavy $primary;
    padding: 1;
}

#register-view {
    border: heavy $primary;
    padding: 1;
}

#stack-view {
    border: heavy $primary;
    padding: 1;
}

#log-view {
    column-span: 2;
    border: heavy $primary;
    padding: 1;
}

#command-input {
    dock: bottom;
    margin: 0 0 1;
}
